## NOTEBOOK IMPORTS

In [2]:
# DATA ANALYSIS
import numpy as np
import pandas as pd

# DATA VISUALIZATION
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import PolynomialFeatures

## CONSTANTS

In [3]:
data = pd.read_csv('Advertising.csv')

In [4]:
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
X = data.drop('sales', axis=1)
y = data['sales']

In [6]:
polynomial_converter = PolynomialFeatures(degree=2, include_bias=False)

In [7]:
polynomial_converter.fit(X)

PolynomialFeatures(include_bias=False)

In [8]:
poly_features = polynomial_converter.transform(X)

In [11]:
poly_features.shape

(200, 9)

In [17]:
# DOES SAME STEPS (Fit and Transform at a time)
polynomial_converter.fit_transform(X)

array([[ 230.1 ,   37.8 ,   69.2 , ..., 1428.84, 2615.76, 4788.64],
       [  44.5 ,   39.3 ,   45.1 , ..., 1544.49, 1772.43, 2034.01],
       [  17.2 ,   45.9 ,   69.3 , ..., 2106.81, 3180.87, 4802.49],
       ...,
       [ 177.  ,    9.3 ,    6.4 , ...,   86.49,   59.52,   40.96],
       [ 283.6 ,   42.  ,   66.2 , ..., 1764.  , 2780.4 , 4382.44],
       [ 232.1 ,    8.6 ,    8.7 , ...,   73.96,   74.82,   75.69]])

In [12]:
X.iloc[0]

TV           230.1
radio         37.8
newspaper     69.2
Name: 0, dtype: float64

In [13]:
pd.Series(poly_features[0])

0      230.10
1       37.80
2       69.20
3    52946.01
4     8697.78
5    15922.92
6     1428.84
7     2615.76
8     4788.64
dtype: float64

In [14]:
pd.DataFrame(poly_features).head()

       0     1     2         3        4         5        6        7        8
0  230.1  37.8  69.2  52946.01  8697.78  15922.92  1428.84  2615.76  4788.64
1   44.5  39.3  45.1   1980.25  1748.85   2006.95  1544.49  1772.43  2034.01
2   17.2  45.9  69.3    295.84   789.48   1191.96  2106.81  3180.87  4802.49
3  151.5  41.3  58.5  22952.25  6256.95   8862.75  1705.69  2416.05  3422.25
4  180.8  10.8  58.4  32688.64  1952.64  10558.72   116.64   630.72  3410.56