## NOTEBOOK IMPORTS

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [46]:
df = pd.read_csv('Advertising.csv')

In [47]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [48]:
X = df.drop('sales', axis=1)

In [49]:
y =df['sales']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [51]:
scaler = StandardScaler()

In [52]:
scaler.fit(X_train)

StandardScaler()

In [53]:
X_train = scaler.transform(X_train)

In [54]:
X_test = scaler.transform(X_test)

In [55]:
model_1 = Ridge(alpha=100)

In [56]:
scores = cross_val_score(model_1, X_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [57]:
scores.mean()

-8.215396464543609

In [58]:
# MODEL 2
model_2 = Ridge(alpha=1)

In [59]:
scores_2 = cross_val_score(model_2, X_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [60]:
scores_2.mean()

-3.344839296530696

In [61]:
model_2.fit(X_train, y_train)

Ridge(alpha=1)

In [62]:
model_2_pred = model_2.predict(X_test)

In [63]:
MSE = mean_squared_error(y_test, model_2_pred)

In [64]:
MSE

2.319021579428751

## CROSS VALIDATE

In [65]:
## CREATE X AND Y 
X = df.drop('sales', axis=1)
y = df['sales']

# TRAIN TEST SLIT
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=101, test_size=0.3)

# SCALE DATA
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [66]:
model = Ridge(alpha=100)

In [67]:
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_absolute_error', 'neg_mean_squared_error'], cv=10)

In [68]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error
0,0.002001,0.002000,-1.810212,-6.060671
1,0.006003,0.001005,-2.541958,-10.627031
2,0.004000,0.002000,-1.469594,-3.993426
3,0.001999,0.000998,-1.862769,-5.009494
4,0.002001,0.001998,-2.520697,-9.141800
5,0.003001,0.001002,-2.459995,-13.086256
6,0.003003,0.001997,-1.451971,-3.839405
7,0.001999,0.002000,-2.377395,-9.058786
8,0.003004,0.001997,-2.443344,-9.055457
9,0.002003,0.002001,-1.899797,-5.778882

In [69]:
scores.mean()

fit_time                        0.002901
score_time                      0.001700
test_neg_mean_absolute_error   -2.083773
test_neg_mean_squared_error    -7.565121
dtype: float64

In [72]:
# MODEL 2
model_2 = Ridge(alpha=1)

In [73]:
scores = cross_validate(model_2, X_train, y_train, scoring=['neg_mean_absolute_error', 'neg_mean_squared_error'], cv=10)

In [75]:
scores = pd.DataFrame(scores)

In [77]:
scores.mean()

fit_time                        0.002800
score_time                      0.002102
test_neg_mean_absolute_error   -1.308467
test_neg_mean_squared_error    -3.323018
dtype: float64

In [78]:
model_2.fit(X_train, y_train)

Ridge(alpha=1)

In [79]:
model_2_pred = model_2.predict(X_test)

In [80]:
MSE = mean_squared_error(y_test, model_2_pred)

In [84]:
MSE

2.319021579428751